<div class="card">
    <div class="card-header">
       <h4><a class="link" href="/posts/{{id}}">{{title}}</a></h4>
        <p>Posted by {{user.name}} on {{dateFormat createdDate}}</p>
    </div>
        <p class="card-body">{{description}}</p>
</div>